
    
<div class="container">
  <app-jesus></app-jesus>

 
</div>

<main class="containerr">
  <div class="p-4 p-md-5 imagen mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
    
      <h1 class="display-4 fst-italic">PARQUE NACIONAL TAYRONA</h1>
      <p class="lead p my-3">Santa Marta</p>
      <P class="lead pre my-3">$190.000</P>
      <button  type="button" class="btn boton1 btn-dark"><a href=""><img src="https://i.ibb.co/j8k3TrM/carro-de-la-carretilla-1.png" alt="carro-de-la-carretilla-1" >AÑADIR</a></button>
   
          </div>
  </div>


</main>


<div class="contenedor">
  <div class="contenedor-co">
    
    <h1>
      
      <img class="img2" src="../../assets/img_icono/grade_FILL0_wght400_GRAD0_opsz48.svg" alt="">
      Descripcion
    </h1>
    
    <p>
      Una vez que la gente llega al sitio acuden a la taquilla de Aquanautas, donde podrán presentar el voucher y se registrarán para realizar la actividad. 
  Verá un vídeo de instrucciones de 5 minutos antes de la inmersión que explica los procedimientos de seguridad y las señales utilizadas durante la actividad. 
  Durante la inmersión, siempre estará acompañado por un instructor que le guiará, allí podrá encontrar la espectacular estatua de Poseidón, alimentar a los peces y disfrutar de la fauna y flora marina de este lugar exclusivo. 
    </p>
  </div>
</div>

<div class="color">
  <div class="centrar">
    <h2>
      <img class="img2" src="../../assets/img_icono/grade_FILL0_wght400_GRAD0_opsz48.svg" alt="">
      INCLUYE
    </h2>
    <ul>
      <li>Teoria</li>
      <li>Instructor certificado</li>
      <li>Inmersión</li>
      <li>Escafandra</li>
      <li>Comida para peces</li>
      <li>Caminata submarina</li>
      <li>Avistasmiento de diferentes peces</li>
    </ul>
  </div>
  
    <div class="centrar2">
      <h2>
        <img class="img2" src="../../assets/img_icono/grade_FILL0_wght400_GRAD0_opsz48.svg" alt="">
        IMPORTANTE
      </h2>
      <ul>
        <li>SALIDAS: Todos los días 8:30 a.m. hasta las 4:00 p.m. aproximadamente. (el horario varia de acuerdo a la temporada)</li>
        <li>Niños de 5 años en adelante pagan tarifa.</li>
        <li>La hora de recogida es diferente a la de inicio del tour por que está sujeta a la ruta del trasporte, por favor comunícate con antelación. </li>
        <li>Se recoge en hoteles del Rodadero, en los demás hoteles deben de llegar a la oficina o un punto de partida que se acuerda con el proveedor.</li>
        <li>Se recomienda llevar vestido de baño, bloqueador solar, repelente, zapatos para agua y careta o snorkel y ropa de cambio.</li>
        
        
        
      </ul>
    </div>
  <br>
</div>

<div class="colorr"><app-footer></app-footer></div>

<script src="/src/app/detalle-plan/codigo.js"></script>
