<app-jesus></app-jesus>


  <main>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          
          <img class="comotu" src="https://i.ibb.co/1mVKcj4/Imagen1.jpg" alt="Imagen1" >
          <h2>Acuario y Playa Blanca</h2>
         <p>El Acuario y Museo del Mar del rodadero cuenta con novecientos ejemplares de cien especies que pueden apreciarse en trece estanques y quince acuarios, además de ofrecer a los visitantes la posibilidad de nadar con delfines,  darles de comer a tiburones, tortugas y jureles. Ideal para compartir en familia.
        </p> 
         <p><a class="btn btn-secondary" href="planes">Iniciar</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
         
         
          <img  class="comotu" src="https://i.ibb.co/NmRwHg1/Imagen2.jpg" alt="Imagen2" >
          <h2>Playa Cristal </h2>
          <p>Ensenada de arena blanca y  aguas cristalinas, ideal para quienes buscan la contemplación y el descanso. Este maravilloso lugar cuenta con características únicas que hacen de él, un sitio mágico donde se pueden apreciar hermosos fondos coralinos ideales para la práctica de careteo y buceo autónomo. Es un excelente plan para viajes familiares o con amigos.
          </p>
          <p><a class="btn btn-secondary" href="planes">iniciar</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
         
          <img class="comotu" src="https://i.ibb.co/3FdyzZn/Imagen3.jpg" alt="Imagen3" >
          <h2>Taganga</h2>
          <p>Es un pueblo de pescadores ubicado  a tan solo 15 minutos en carro desde el centro de la ciudad. Su bahía rodeada de montañas logra un escenario único que guarda una maravillosa belleza natural desde donde se pueden apreciar hermosos atardeceres que caracterizan en el lugar. Es un lugar ideal para practicar buceo certificado o snorkeling por su hermosa y tranquila bahía y además de ser el punto de partida para visitar las playas vecinas casi vírgenes.</p>
          <p><a class="btn btn-secondary" href="planes">iniciar</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> <h2>Tayronaka </h2>  <span class="text-muted  letra ">Uno de los mejores sitios turísticos de Santa Marta, reconocido por su entorno sagrado y natural. Disfrute la experiencia de recorrer este antiguo asentamiento Tayrona acompañado de un guía local quien les ilustrará la vida de esta antigua civilización mientras caminan por los senderos empedrados y auténticas terrazas, lugares donde transitaban y vivían </span></h2>        </div>
        <div class="col-md-5">
          <img class="kaya" src="https://i.ibb.co/rGxfZZg/Imagen5.jpg" alt="Imagen5" >
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Kayaking en ciénaga grande de Santa Marta <span class="text-muted  letra "> El Tour Ciénaga Grande de Santa Marta, le permite  descubrir la flora y fauna de Ciénaga Grande de  Santa Marta. Durante este exótico viaje conocerás  manglares, playas, bosques secos, bosques de vegas  y espejos de aguas libres de salinidad. Además, puedes  ver reptiles, mamíferos, aves y patos. Conocerás las  casas sobre pilotes y Nueva Venecia. Pueblos construidos en las aguas de la Ciénaga Grande, donde sus coloridas casas de madera y canoas son una parte vital del paisaje</span></h2>
          <p class="lead"></p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="kaya" src="https://i.ibb.co/GCZWgWR/Imagen4.png" alt="Imagen4" >
  
        </div>
      </div>
  
      <app-footer></app-footer>
    
   
 
  
  
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  
   
  
