<app-jesus></app-jesus>


  <main>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2>SERVICIOS</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eius laborum quae delectus consequatur possimus similique placeat tempore unde alias vitae, tempora voluptatum commodi rerum! Magni obcaecati eius ad illo.</p> <p><a class="btn btn-secondary" href="#">Iniciar</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2>playas</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste alias aspernatur eos vel enim ipsa ullam culpa corrupti quo dolores aliquid optio quisquam tempora fugiat, velit rerum aliquam error. Amet!</p>
          <p><a class="btn btn-secondary" href="#">iniciar</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          <h2>Paisajes</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ipsa asperiores soluta, nihil deleniti quaerat. Veniam laborum qui necessitatibus, cumque quibusdam illum exercitationem molestias, quos explicabo cupiditate fuga accusantium impedit!</p>
          <p><a class="btn btn-secondary" href="#">iniciar</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus quod dolore earum ex natus tempora, suscipit delectus labore deserunt omnis, consequuntur sapiente quasi voluptatem minus corporis quam cum atque qui!</h2>        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Los mejores lugares para conocer<span class="text-muted"> SANTA MARTA</span></h2>
          <p class="lead"></p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Los mejores lugares para conocer <span class="text-muted"> Ven ya!</span></h2>
          <p class="lead">مات عن حالة العضلات إلى الدماغ</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
    
   
  </main>
  
  
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  
   
  
